/* -------------------------------------- */
/* Bootstrap styles for initial template  */
/* -------------------------------------- */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  margin-top: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

div.dragged i.control-icon {
  cursor: move;
}

.hidden {
  visibility: hidden;
}

.bd-example {
  padding: 1rem;
  margin: 1rem 0rem;
  border: solid #f7f7f9;
  padding: 1.5rem;
  border-width: .2rem;

  margin-bottom: 5px;
  margin-top: 0px;
}

.highlight {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  margin-top 0;
  padding: 1rem;
  background-color: #f7f7f9;
}

.form-sm {
  width: 500px;
}

.form-controls {
  text-align: right;
}

/* ------------------------------- */
/* New styles - Styles for my control elements  */
/* ------------------------------- */

.form-group {
  position: relative;
}
.my-container {
  position: relative;
}
.control-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hidden-block {
  display: none;
}
.show-hidden-on-hover:hover .hidden-block {
  display: block;
}
.hidden-inherit {
  display: none;
}
.show-hidden-on-hover:hover .hidden-inherit {
  display: initial;
}

.control-element {
  color: lightgrey;
  cursor: pointer;
}
.control-element:hover {
  color: grey;
}

.fa-small {
  font-size: 15px !important;
}
.fa-normal {
  font-size: 18px !important;
}
.fa-big {
  font-size: 20px !important;
}

.float-right {
  float: right;
}
