/* -------------------------------------- */
/* Bootstrap styles for initial template  */
/* -------------------------------------- */

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  margin-top: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  margin-bottom: 20px;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  margin-top: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

.hidden {
  visibility: hidden;
}

.inner-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-controls {
  text-align: right;
  padding-bottom: 1rem;
}

/* ------------------------------- */
/* New styles - Styles for my control elements  */
/* ------------------------------- */

.form-group {
  position: relative;
}
.control-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hidden-block {
  display: none;
}
.show-hidden-on-hover:hover .hidden-block {
  display: block;
}
.hidden-inherit {
  display: none;
}
.show-hidden-on-hover:hover .hidden-inherit {
  display: initial;
}

.control-element {
  color: lightgrey;
  cursor: pointer;
}
.control-element:hover {
  color: grey;
}

.fa-small {
  font-size: 15px !important;
}
.fa-normal {
  font-size: 18px !important;
}
.fa-big {
  font-size: 20px !important;
}

.float-right {
  float: right;
}

.inline-block {
  /* display: inline-block; */
}

.red-bg {
  /* background-color: red; */
  /* display: inline-block; */
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hidden-overflow {
  overflow: hidden;
}

.drag-handle:hover {
  cursor: grab;
}
